# System files
# ------------

Icon
.DS_Store

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea
/.nova

# Node Dev
# --------
/node_modules
/.package-lock.json