# System files
# ------------

.DS_Store
Icon?

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea
/.nova
**/.obsidian

# Node Dev
# --------
/node_modules
/package-lock.json
