<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title | safe }} — {{ site.title | safe }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/assets/style.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/hljs-vs2015.min.css" />
		<link rel="alternate" type="application/rss+xml" 
		  title="RSS Feed" 
		  href="/feed.xml" />
		{% if base|length %}<base href="{{ base }}" />{% endif %}
	</head>
	<body>
		<header>
			<div class="container">
				<h1 id="pageTitle"><a href="/" title="Home"><span role="img" aria-label="Home">🏡</span> <span class="viewport-hideOnXS">Wenzels.Blog</span></a></h1>
				<ol>
					<li><a href="/about">About</a></li>
					<li><a href="https://wenzels.design" target="_blank">Work</a></li>
					<li><a href="/feed.xml" target="_blank">RSS</a></li>
				</ol>
			</div>
		</header>
		{{ content | safe }}
		<footer>
			<p>I’m on <a rel="me" href="https://indieweb.social/@stairjoke">Mastodon</a> <button onclick="navigator.clipboard.writeText('@stairjoke@indieweb.social'); alert('Mastodon ID copied to clipboard!')">click to copy "@stairjoke@indieweb.social"</button> and <a href="https://posts.cv/wenzel">Posts.</a></p>
			<p class="copy">© Copyright {{ page.date | friendlyDate }}, Wenzel Massag. German copyright law applies, redistribution with attribution highly encouraged.</p>
		</footer>
	</body>
</html>
