<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title | safe }} — {{ site.title | safe }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
		<base href="https://github.io/wenzels.blog/" />
	</head>
	<body>
		<header>
			<a href="/"><h1>{{ site.title | safe }}</h1></a>
		</header>
		{{ content | safe }}
	</body>
</html>
