---
layout: layouts/document.njk
---
<main>
	<h1>{{ site.strings.latestPosts | safe }}</h1>
	<ol class="list-of-posts">
		{% for note in collections.note | reverse %}
		<li{% if page.url == note.url %} aria-current=page{% endif %}>
			<h2><a href="{{ note.url }}"{% if note.data.title == "Note" %} class="note" {% endif %}>{{ note.data.title }}</a></h2>
			<p>{{ note.data.teaser }}</p>
		</li>{% endfor %}
	</ol>
</main>
