---
layout: layouts/document.njk
---
<main>
	<div class="postHead">
		<h1>{{ title | safe }}</h1>
		<time datetime="{{ date | dateToRfc822 }}">{{ date | friendlyDate }}</time>
	</div>
	{{ content | safe }}
	<p id="permalink"><a href="{{ page.url | safe }}">⌞w⌝</a></p>
</main>
