// Styles for home.php template file

.page-layout.home {
  padding: 1rem;

  article {
    --color-text-link: var(--color-text);
    --link-decoration: none;
    --color-text-link-hover: var(--color-text);
    --link-decoration-hover: none;
  }
  .pagination {
    flex-basis: 100%;
    text-align: center;
  }
}
