:root {
  --outer-radius: 1rem;
  --inner-radius: .5rem;
  --color-page: #138444;
  --color-page-glass: rgba(19, 132, 68, 0.9);
  --color-group: #E5E5E5;
  --color-group-hover: #e0e0e0;
  --color-group-inline: rgba(0, 0, 0, 0.065);
  --color-codeblock: #E5E5E5;
  --color-code: var(--color-group-inline);
  --gradient-block: linear-gradient(to right top, #f6d6d4, #f5e9d2);
  --gradient-block-hover: linear-gradient(to right top, #fdbdb9, #fbe3b5);
  --color-main: #F0F0F0;
  --color-shadow: rgba(0,0,0,0.06);
  --color-text: #292929;
  --color-text-emphasized: #000000;
  --color-text-dimmed: rgba(0,0,0,0.62);
  --color-text-link: #007533;
  --color-text-link-hover: #007533;
  --color-text-link-navigation: #ffffff;
  --color-text-link-sidebar-navigation: rgba(0,0,0,0.62);
  --color-text-link-sidebar-navigation-hover: #000000;
  --color-text-inverted: #ffffff;
  --color-title: #ffffff;
  --color-headline: #292929;
  --color-text-legal: rgba(255,255,255,0.65);
  --color-text-code: #3B3B3B;
}
@media (color-gamut: p3) {
  :root {
    --color-text-link: color(display-p3 0 0.46 0.061);
    --color-text-link-hover: color(display-p3 0 0.46 0.061);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-page: #003D2A;
    --color-page-glass: rgba(0, 61, 42, 0.9);
    --color-group: #101916;
    --color-group-hover: #141e19;
    --color-group-inline: rgba(255, 255, 255, 0.065);
    --color-codeblock: #232323;
    --color-code: var(--color-group-inline);
    --gradient-block: linear-gradient(to right top, #260a02, #271801);
    --gradient-block-hover: linear-gradient(to right top, #320a00, #321e00);
    --color-main: #0D0D0D;
    --color-shadow: rgba(255,255,255,.06);
    --color-text: #bbb;
    --color-text-emphasized: #D1D1D1;
    --color-text-dimmed: rgba(204, 204, 204, 0.7);
    --color-text-link: #00D667;
    --color-text-link-navigation: #cccccc;
    --color-text-link-sidebar-navigation: rgba(204, 204, 204, 0.7);
    --color-text-link-sidebar-navigation-hover: #cccccc;
    --color-text-inverted: ##CCCCCC;
    --color-title: #bbb;
    --color-headline: #999;
    --color-text-legal: rgba(204, 204, 204, 0.7);
    --color-text-code: #D6D6D6;
  }
}
@media (prefers-color-scheme: dark) and (color-gamut: p3) {
  :root {
    --color-page: color(display-p3 0.026 0.234 0.14);
    --color-text-link: color(display-p3 0 0.64 0.309);
    --color-text-link-hover: color(display-p3 0 0.64 0.309);
    --gradient-block-hover: linear-gradient(to right top, color(display-p3 0.188 0.047 0), color(display-p3 0.204 0.126 0));
  }
}
h1 {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
}

h1, h2, h3 {
  color: var(--color-headline);
}

.page-title h1 {
  color: var(--color-title);
}

body {
  font-family: "mr-eaves-xl-sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: var(--color-text);
}
@media (prefers-color-scheme: dark) {
  body {
    line-height: 1.5;
    letter-spacing: 0.1px;
  }
}

p {
  margin-block-start: 0.7rem;
  margin-block-end: 0.7rem;
}
p:first-child {
  margin-block-start: 0;
}
p:last-child {
  margin-block-end: 0;
}

.legal {
  color: var(--color-text-legal);
  --color-text-link: var(--color-text-legal);
  --color-text-link-hover: var(--color-text-legal);
}

blockquote, q {
  font-family: "mr-eaves-xl-sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

em {
  font-family: "mr-eaves-xl-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-text-emphasized);
}

code, pre {
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: var(--inner-radius);
  color: var(--color-text-code);
  background: var(--color-codeblock);
}

code {
  padding: 0.1rem 0.25rem;
  margin: 0 0.05rem;
}

a.footnote-ref {
  display: inline-block;
  background: var(--color-code);
  line-height: 1;
  padding: 0 0.27em 0.15em 0.3em;
  border-radius: 100%;
  border: solid 1px transparent;
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
  --color-text-link: var(--color-text-dimmed);
  --color-text-link-hover: var(--color-text);
  --link-decoration: none;
  --link-decoration-hover: none;
}
a.footnote-ref:hover {
  border: solid 1px var(--color-text-dimmed);
}

:root {
  --scroll-offset: 6.4rem;
}

[id] {
  scroll-margin-top: var(--scroll-offset);
}

body {
  margin: 2rem 0.5rem;
}
@media (max-width: 374px) {
  body {
    margin: 1rem 0.5rem;
  }
}

header, .page-title {
  position: fixed;
  padding: 2rem 1rem;
  z-index: 2;
  inset: 0 0 auto 0;
  background: var(--color-page-glass);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: 0 0 1.5rem -0.5rem var(--color-page-glass);
}
@media (max-width: 693px) {
  header, .page-title {
    position: static;
    padding: 0 0.5rem 2rem 0.5rem;
  }
}
@media (max-width: 374px) {
  header, .page-title {
    padding: 0 0 1rem 0;
  }
}

.vertical-flex {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 1rem 1rem 0 1rem;
}
@media (max-width: 374px) {
  footer {
    padding: 0;
  }
}
footer p {
  margin-block-end: 0;
}

.page-title {
  inset: 11.5rem 1rem auto 1rem;
  padding: 0;
  z-index: -1;
}
@media (max-width: 693px) {
  .page-title {
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 374px) {
  .page-title {
    padding: 0 0 1rem 0;
  }
}
.page-title h1, .page-title time {
  display: block;
  margin: 0 auto;
  line-height: 1.2;
  max-width: calc(16cm - 2rem);
}
@media (694px < width < 1024px) {
  .page-title h1, .page-title time {
    text-align: center;
  }
}
.page-title time {
  color: var(--color-text-legal);
}

header nav, footer nav {
  --color-text-link: var(--color-text-link-navigation);
  --color-text-link-hover: var(--color-text-link-navigation);
  --link-decoration: none;
  --link-decoration-hover: underline;
}

.layout-row > ul, .layout-row > ol, ul.layout-row, ol.layout-row {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 693px) {
  .layout-row > ul, .layout-row > ol, ul.layout-row, ol.layout-row {
    gap: 0.5rem;
  }
}
.layout-row > ul li, .layout-row > ol li, ul.layout-row li, ol.layout-row li {
  display: block;
  margin: 0;
}

.left-right-divide {
  display: flex;
  gap: 1rem;
}
.left-right-divide > *:last-child {
  flex-shrink: 0;
  margin-left: auto;
}

main figure, main img, main video {
  border-radius: var(--inner-radius);
  overflow: hidden;
  display: block;
  margin: 1rem 0;
  width: 100%;
  height: auto;
}

.page-layout {
  margin: 23rem auto 5rem auto;
  border-radius: var(--outer-radius);
  background: var(--color-main);
  box-shadow: 0 0 16rem var(--color-shadow);
  max-width: 1264px;
}
@media (max-width: 693px) {
  .page-layout {
    margin: 2rem auto 2rem auto;
  }
}
.page-layout.default {
  display: flex;
  justify-items: stretch;
}
@media (max-width: 694px) {
  .page-layout.default {
    display: block;
  }
}
.page-layout.default .left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  border-radius: var(--outer-radius) 0 0 var(--outer-radius);
  padding: 1rem;
}
@media (max-width: 694px) {
  .page-layout.default .left {
    border-radius: var(--outer-radius) var(--outer-radius) 0 0;
    padding: 0;
  }
  .page-layout.default .left:has(.sidebar) {
    background: var(--color-group);
    padding: 1rem;
  }
}
.page-layout.default .left:has(.sidebar) {
  background: var(--color-group);
}
.page-layout.default .main {
  flex-basis: 16cm;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .page-layout.default .main {
    flex-shrink: 0;
  }
}
.page-layout.default .main .footnotes hr {
  display: none;
}
.page-layout.default .main .footnotes::before {
  display: block;
  content: "";
  width: 38.2%;
  height: 1px;
  background: var(--color-text-dimmed);
}
.page-layout.default .main .permalink {
  background: var(--color-group-inline);
  padding: 0.5em;
  margin-top: 2rem;
  border-radius: var(--inner-radius);
}
.page-layout.default .main .permalink .permalinkLayout {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 0.25em;
}
.page-layout.default .main .permalink .permalinkLayout a, .page-layout.default .main .permalink .permalinkLayout button {
  flex-grow: 0;
}
.page-layout.default .main .permalink .permalinkLayout input {
  flex-grow: 1;
  background: var(--color-main);
  border-radius: var(--inner-radius);
  border: solid 1px var(--color-shadow);
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--color-text-code);
}
.page-layout.default .main .permalink .permalinkLayout button {
  margin-right: 0;
}
.page-layout.default .main .permalink .permalinkInfoTrigger {
  background: var(--color-code);
  border-radius: 100%;
  border: solid 1px transparent;
  display: inline-block;
  padding: 0;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  color: var(--color-text);
}
.page-layout.default .main .permalink .permalinkInfoTrigger:hover {
  border: solid 1px var(--color-text-dimmed);
}
@media (pointer: fine) {
  .page-layout.default .main .permalink:has(.permalinkInfoTrigger) p {
    margin-block-end: 0;
  }
  .page-layout.default .main .permalink:has(.permalinkInfoTrigger) .permalinkInfo {
    display: none;
  }
  .page-layout.default .main .permalink:has(.permalinkInfoTrigger:hover) p {
    margin-block-end: unset;
  }
  .page-layout.default .main .permalink:has(.permalinkInfoTrigger:hover) .permalinkInfo {
    display: block;
  }
}
.page-layout.default .right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  padding: 1rem;
}
@media (max-width: 960px) {
  .page-layout.default .right {
    display: none;
  }
}

.sidebar {
  color: var(--color-text-link-sidebar-navigation);
  --color-text-link: var(--color-text-link-sidebar-navigation);
  --color-text-link-hover: var(--color-text-link-sidebar-navigation-hover);
  position: sticky;
  z-index: 1;
  top: var(--scroll-offset);
  min-width: 11rem;
}
@media (max-width: 694px) {
  .sidebar {
    position: static;
  }
}
.sidebar ol, .sidebar ul {
  padding-left: 2em;
}

body {
  background: var(--color-page);
  padding: 0;
}

a, a:link, a:active, a:visited, a:hover, a:focus {
  color: var(--color-text-link);
  text-decoration: var(--link-decoration, underline);
}
a[target=_blank]::after, a:link[target=_blank]::after, a:active[target=_blank]::after, a:visited[target=_blank]::after, a:hover[target=_blank]::after, a:focus[target=_blank]::after {
  display: inline-block;
  content: " (ext)";
  color: transparent;
  width: 0.9rem;
  height: 0.9rem;
  margin: 1px 0.2rem -1px 0.2rem;
  overflow: hidden;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M4 0H5V1.61538H4.11538C2.73467 1.61538 1.61538 2.73467 1.61538 4.11539V9.88462C1.61538 11.2653 2.73467 12.3846 4.11539 12.3846H9.88462C11.2653 12.3846 12.3846 11.2653 12.3846 9.88461V9H14V10C14 12.2091 12.2091 14 10 14H4C1.79086 14 0 12.2091 0 10V4C0 1.79086 1.79086 0 4 0ZM8 0V1.61538H11.3846L7.5 5.5L8.5 6.5L12.3846 2.61539V6H14V1C14 0.447715 13.5523 0 13 0H8Z" /></svg>');
  -webkit-mask-position: bottom right;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M4 0H5V1.61538H4.11538C2.73467 1.61538 1.61538 2.73467 1.61538 4.11539V9.88462C1.61538 11.2653 2.73467 12.3846 4.11539 12.3846H9.88462C11.2653 12.3846 12.3846 11.2653 12.3846 9.88461V9H14V10C14 12.2091 12.2091 14 10 14H4C1.79086 14 0 12.2091 0 10V4C0 1.79086 1.79086 0 4 0ZM8 0V1.61538H11.3846L7.5 5.5L8.5 6.5L12.3846 2.61539V6H14V1C14 0.447715 13.5523 0 13 0H8Z" /></svg>');
  mask-position: bottom right;
  mask-repeat: no-repeat;
  mask-size: contain;
  background: var(--color-text-link);
}

a:hover, a:focus {
  color: var(--color-text-link-hover);
  text-decoration: var(--link-decoration-hover, underline);
}

/*# sourceMappingURL=style.css.map */
