/*
	Wenzels.Blog -- Layout
*/

@use "mixins";

main, footer, header .container {
	max-width: 16cm;
	margin: 0 auto;
	padding: 0;
	@include mixins.margin-trim-block();
}

header {
	@supports (margin: 2rlh 0) {
		margin: 0 0 2rlh 0;
	}
	@supports not (margin: 1rlh 0) {
		margin: 0 0 calc(2rem * var(--line-height-factor)) 0;
	}
	
	padding: 1rem;
	background-color: var(--color-group);
	border-radius: var(--radius-block-elements);
	
	.container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	
	#pageTitle {
		font-size: 1rem;
		margin: 0 auto 0 0;
		line-height: var(--line-height-factor);
		
		a {
			text-decoration: none;
		}
	}
	
	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		
		li {
			margin: 0;
			padding: 0;
			
			a {
				padding: .25rem;
				text-decoration: none !important;
				
				&:hover, &:focus {
					background: var(--color-highlight);
					outline: solid 2px var(--color-highlight);
				}
				&:focus-visible {
					outline: solid 2px var(--color-accent);
				}
			}
		}
	}
}
