/*
	Wenzels.blog -- Styles
*/

@use "ions";
@use "mixins";

// Foundation
body {
	font-family: ui-serif, "New York", "Georgia", "Palatino", "Times New Roman", serif;
	font-weight: 300;
	
	/* Using CSS properties until lrh support is above 98% */
	--line-height-factor: 1.35;
	line-height: var(--line-height-factor);
}

main, footer, header .container {
	max-width: 16cm;
	margin: 0 auto;
	padding: 0;
	@include mixins.margin-trim-block();
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 650;
	font-size: 1.5rem;
	margin: 2rlh 0 0 0;
	
	@supports (margin: 1rlh 0) {
		line-height: 2rlh;
	}
	@supports not (margin: 1rlh 0) {
		line-height: calc(2rem * var(--line-height-factor));
	}
}
h1 {
	font-size: 2rem;
	
	@supports (margin: 1rlh 0) {
		line-height: 3rlh;
	}
	@supports not (margin: 1rlh 0) {
		line-height: calc(3rem * var(--line-height-factor));
	}
}
h3, h4, h5, h6 {
	font-size: 1rem;
}

p {
	@supports (margin: 1rlh 0) {
		margin: .25rlh 0 1rlh 0;
	}
	@supports not (margin: 1rlh 0) {
		margin: calc(.25rem * var(--line-height-factor)) 0 calc(1rem * var(--line-height-factor)) 0;
	}
}

a {
	text-decoration: none; // A-Elements should not underline unless they are actually links
	border-radius: var(--radius-inline-elements);
	
	&:link, &:active, &:visited, &:hover, &:focus {
		text-decoration: underline; // Underline if the link is actually a link
		color: var(--color-accent);
	}
	
	&:hover, &:focus {
		color: var(--color-accent-hover);
	}
	
	&:focus {
		background: var(--color-group);
	}
}

::selection {
	background: var(--color-highlight);
}

figure {
	margin-block: 2rlh;
	margin-inline: 0;
	background: var(--color-group);
	border-radius: var(--radius-block-elements);
	overflow: hidden;
	
	img {
		display: block;
		border-radius: 0;
		box-shadow: 0px 0px 1em var(--color-shadow);
	}
	
	figcaption {
		font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
		font-weight: 450;
		font-size: .8rem;
		letter-spacing: -.03em;
		color: var(--color-text-dimmed);
		
		box-sizing: border-box;
		padding: .5rem;
	}
}

// Specifics
header {
	@supports (margin: 2rlh 0) {
		margin: 0 0 2rlh 0;
	}
	@supports not (margin: 1rlh 0) {
		margin: 0 0 calc(2rem * var(--line-height-factor)) 0;
	}
	
	padding: 1rem;
	background-color: var(--color-group);
	border-radius: var(--radius-block-elements);
	
	.container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	
	#pageTitle {
		font-size: 1rem;
		margin: 0 auto 0 0;
		line-height: var(--line-height-factor);
		
		a {
			text-decoration: none;
		}
	}
	
	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		
		li {
			margin: 0;
			padding: 0;
			
			a {
				padding: .25rem;
				text-decoration: none !important;
				
				&:hover, &:focus {
					background: var(--color-highlight);
					outline: solid 2px var(--color-highlight);
				}
				&:focus-visible {
					outline: solid 2px var(--color-accent);
				}
			}
		}
	}
}

#permalink {
	a {
		text-decoration: none !important;
	}
}

ol.list-of-posts {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		@include mixins.margin-trim-block();
		
		@supports (margin: 2rlh 0) {
			margin: 2rlh 0;
		}
		@supports not (margin: 1rlh 0) {
			margin: calc(2rem * var(--line-height-factor)) 0;
		}
		padding: 0;
	}
}

@media (max-width: 360px) {
	.viewport-hideOnXS {
		display: block;
		position: absolute;
		left: -10000px;
		opacity: 0;
	}
}

span[role=img] {
	speak: none;
}

img, video {
	max-width: 100%;
	height: auto;
	border-radius: var(--radius-block-elements);
}
