:root {
  --scroll-offset: 6.4rem;
}

[id] {
  scroll-margin-top: var(--scroll-offset);
}

body {
  margin: 2rem .5rem;
  @media (max-width: 374px) {
    margin: 1rem .5rem;
  }
}

header, .page-title {
  position: fixed;
  padding: 2rem 1rem;
  @media (max-width: 693px) {
    position: static;
    padding: 0 .5rem 2rem .5rem;
  }
  @media (max-width: 374px) {
    padding: 0 0 1rem 0;
  }
  z-index: 2;

  inset: 0 0 auto 0;

  background: var(--color-page-glass);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: 0 0 1.5rem -.5rem var(--color-page-glass);
}

.vertical-flex {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 1rem 1rem 0 1rem;
  @media (max-width: 374px) {
    padding: 0;
  }

  p {
    margin-block-end: 0;
  }
}

.page-title {
  inset: 11.5rem 1rem auto 1rem;
  padding: 0;
  @media (max-width: 693px) {
    padding: 1rem .5rem;
  }
  @media (max-width: 374px) {
    padding: 0 0 1rem 0;
  }
  z-index: -1;

  h1, time {
    display: block;
    margin: 0 auto;
    line-height: 1.2;
    max-width: calc(16cm - 2rem);

    @media (694px < width < 1024px){
      text-align: center;
    }
  }

  time {
    color: var(--color-text-legal);
  }
}

header nav, footer nav {
  --color-text-link: var(--color-text-link-navigation);
  --color-text-link-hover: var(--color-text-link-navigation);
  --link-decoration: none;
  --link-decoration-hover: underline;
}

.layout-row > ul, .layout-row > ol, ul.layout-row, ol.layout-row {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  @media (max-width: 693px) {
    gap: .5rem;
  }
  flex-wrap: wrap;

  li {
    display: block;
    margin: 0;
  }
}

.left-right-divide {
  display: flex;
  gap: 1rem;

  & > *:last-child {
    flex-shrink: 0;
    margin-left: auto;
  }
}

main {
  figure, img, video {
    border-radius: var(--inner-radius);
    overflow: hidden;
    display: block;
    margin: 1rem 0;
    width: 100%;
    height: auto;
  }
}

.page-layout {
  margin: 23rem auto 5rem auto;
  @media (max-width: 693px) {
    margin: 2rem auto 2rem auto;
  }
  border-radius: var(--outer-radius);
  background: var(--color-main);
  box-shadow: 0 0 16rem var(--color-shadow);
  max-width: 1264px;

  &.default {
    display: flex;
    @media (max-width: 694px){
      display: block;
    }
    justify-items: stretch;

    .left {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 25%;
      border-radius: var(--outer-radius) 0 0 var(--outer-radius);
      @media (max-width: 694px){
        border-radius: var(--outer-radius) var(--outer-radius) 0 0;
        padding: 0;
        &:has(.sidebar) {
          background: var(--color-group);
          padding: 1rem;
        }
      }

      padding: 1rem;

      &:has(.sidebar) {
        background: var(--color-group);
      }
    }

    .main {
      flex-basis: 16cm;
      flex-grow: 0;
      flex-shrink: 1;

      @media (min-width: 1024px) {
        flex-shrink: 0;
      }

      padding: 1rem;

      table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        margin-block: 1.5rem;

        td, tr {
          margin: 0;
          padding: 0;
        }

        td, th {
          padding: .25rem;
          border-right: solid 2px var(--color-group-inline);
          &:last-child {
            border-right: none;
          }
        }

        tr:nth-child(even) td {
          background: var(--color-group);
        }

        thead {
          background: var(--color-page);
          color: var(--color-text-inverted);

          th {
          border-right: solid 2px var(--color-group-inline);
          }
        }
      }

      .footnotes {
        hr {
          display: none;
        }

        &::before {
          display: block;
          content: "";
          width: 38.2%;
          height: 1px;
          background: var(--color-text-dimmed);
        }
      }

      .permalink {
        background: var(--color-group-inline);
        padding: .5em;
        margin-top: 2rem;
        border-radius: var(--inner-radius);

        .permalinkLayout {
          width: 100%;
          display: flex;
          align-items: stretch;
          gap: .25em;

          a, button {
            flex-grow: 0;
          }

          input {
            flex-grow: 1;
            background: var(--color-main);
            border-radius: var(--inner-radius);
            border: solid 1px var(--color-shadow);
            padding-left: .5em;
            padding-right: .5em;
            color: var(--color-text-code);
          }

          button {
            margin-right: 0;
          }
        }

        .permalinkInfoTrigger {
          background: var(--color-code);
          border-radius: 100%;
          border: solid 1px transparent;
          display: inline-block;
          padding: 0;
          width: 1.4rem;
          height: 1.4rem;

          font-size: 1rem;
          line-height: 1;
          text-align: center;

          color: var(--color-text);

          &:hover {
            border: solid 1px var(--color-text-dimmed);
          }
        }

        @media (pointer: fine) {
          &:has(.permalinkInfoTrigger) {
            p {
              margin-block-end: 0;
            }
            .permalinkInfo {
              display: none;
            }
          }

          &:has(.permalinkInfoTrigger:hover) {
            p {
              margin-block-end: unset;
            }
            .permalinkInfo {
              display: block;
            }
          }
        }

      }
    }

    .right {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 25%;

      padding: 1rem;

      @media (max-width: 960px){
        display: none;
      }
    }
  }

}

.sidebar {
  color: var(--color-text-link-sidebar-navigation);
  --color-text-link: var(--color-text-link-sidebar-navigation);
  --color-text-link-hover: var(--color-text-link-sidebar-navigation-hover);

  position: sticky;
  @media (max-width: 694px){
    position: static;
  }
  z-index: 1;
  top: var(--scroll-offset);

  ol, ul {
    padding-left: 2em;
  }

  min-width: 11rem;
}
