/*
  Wenzels.blog -- Sass Mixins
*/

@mixin margin-trim-block(){
	@supports (margin-trim: block){
		margin-trim: block;
	}
	@supports not (margin-trim: block) {
		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
