h1 {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;

  color: var(--color-title);
}

body {
  font-family: "mr-eaves-xl-sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-style: normal;

  line-height: 1.4;

  color: var(--color-text);

  @media (prefers-color-scheme: dark){
    line-height: 1.5;
    letter-spacing: .1px;
  }
}

p {
  margin-block-start: .7rem;
  margin-block-end: .7rem;
  &:first-child {
    margin-block-start: 0;
  }
  &:last-child {
    margin-block-end: 0;
  }
}

.legal {
  color: var(--color-text-legal);
  --color-text-link: var(--color-text-legal);
  --color-text-link-hover: var(--color-text-legal);
}

blockquote, q {
  font-family: "mr-eaves-xl-sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

em {
  font-family: "mr-eaves-xl-sans", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: var(--color-text-emphasized);
}

code, pre {
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: .8rem;

  padding: 1rem;
  border-radius: var(--inner-radius);

  color: var(--color-text-code);
  background: var(--color-codeblock);
}

code {
  padding: .1rem .25rem;
  margin: 0 .05rem;
  background: var(--color-code);
}

a.footnote-ref {
  display: inline-block;
  background: var(--color-code);
  line-height: 1;
  padding: 0 .27em .15em .3em;
  border-radius: 100%;
  border: solid 1px transparent;

  &:hover {
    border: solid 1px var(--color-text-dimmed);
  }

  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: .8rem;

  --color-text-link: var(--color-text-dimmed);
  --color-text-link-hover: var(--color-text);
  --link-decoration: none;
  --link-decoration-hover: none;
}
