/*
	Stairjoke.Ninja -- Typography
*/

body {
	font-family: ui-serif, "New York", "Georgia", "Palatino", "Times New Roman", serif;
	font-weight: 300;

	/* Using CSS properties until lrh support is above 98% */
	--line-height-factor: 1.35;
	line-height: var(--line-height-factor);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 650;
	font-size: 1.5rem;
	margin: 2em 0 1em 0;
	color: var(--color-text-dimmed);
	line-height: 1.5;
}

h1 {
	font-size: 2rem;

	@supports (margin: 1rlh 0) {
		line-height: 3rlh;
	}
	@supports not (margin: 1rlh 0) {
		line-height: calc(3rem * var(--line-height-factor));
	}
}

h3, h4, h5, h6 {
	font-size: 1rem;
}

p {
	@supports (margin: 1rlh 0) {
		margin: .25rlh 0 1rlh 0;
	}
	@supports not (margin: 1rlh 0) {
		margin: calc(.25rem * var(--line-height-factor)) 0 calc(1rem * var(--line-height-factor)) 0;
	}
}

blockquote, q, cite {
	font-style: italic;
}

blockquote {
	margin: 0;
	padding-inline: calc(1rem - 2px) 0;
	border-left: solid 2px var(--color-accent);
}

a {
	text-decoration: none; // A-Elements should not underline unless they are actually links

	&:link, &:active, &:visited, &:hover, &:focus {
		text-decoration: underline; // Underline if the link is actually a link
		color: var(--color-accent);
	}

	&:visited {
		color: var(--color-link-visited);
	}

	&:hover, &:focus {
		color: var(--color-accent-hover);
	}
}

::selection {
	background: var(--color-highlight);
}

.copy {
  font-size: .8rem;
  color: var(--color-text-dimmed);
}

.ai-instruction {
  display: none;
}
