@use 'globals';
@use 'typography';
@use 'layout';

body {
  background: var(--color-page);
  padding: 0;
  font-size: 18px;
}

a, a:link, a:active, a:visited, a:hover, a:focus {
  color: var(--color-text-link);
  text-decoration: var(--link-decoration, underline);

  &[target="_blank"]::after {
    display: inline-block;
    content: " (ext)";
    color: transparent;
    width: .9rem;
    height: .9rem;
    margin: 1px .2rem -1px .2rem;
    overflow: hidden;

    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M4 0H5V1.61538H4.11538C2.73467 1.61538 1.61538 2.73467 1.61538 4.11539V9.88462C1.61538 11.2653 2.73467 12.3846 4.11539 12.3846H9.88462C11.2653 12.3846 12.3846 11.2653 12.3846 9.88461V9H14V10C14 12.2091 12.2091 14 10 14H4C1.79086 14 0 12.2091 0 10V4C0 1.79086 1.79086 0 4 0ZM8 0V1.61538H11.3846L7.5 5.5L8.5 6.5L12.3846 2.61539V6H14V1C14 0.447715 13.5523 0 13 0H8Z" /></svg>');
    -webkit-mask-position: bottom right;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;

    mask-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M4 0H5V1.61538H4.11538C2.73467 1.61538 1.61538 2.73467 1.61538 4.11539V9.88462C1.61538 11.2653 2.73467 12.3846 4.11539 12.3846H9.88462C11.2653 12.3846 12.3846 11.2653 12.3846 9.88461V9H14V10C14 12.2091 12.2091 14 10 14H4C1.79086 14 0 12.2091 0 10V4C0 1.79086 1.79086 0 4 0ZM8 0V1.61538H11.3846L7.5 5.5L8.5 6.5L12.3846 2.61539V6H14V1C14 0.447715 13.5523 0 13 0H8Z" /></svg>');
    mask-position: bottom right;
    mask-repeat: no-repeat;
    mask-size: contain;

    background: var(--color-text-link);
  }
}

a:hover, a:focus {
  color: var(--color-text-link-hover);
  text-decoration: var(--link-decoration-hover, underline);
}
