@use 'globals';
@use 'typography';
@use 'layout';

body {
  background: var(--color-page);
  margin: 2rem .5rem;
  padding: 0;
}

a, a:link, a:active, a:visited, a:hover, a:focus {
  color: var(--color-text-link);
  text-decoration: var(--link-decoration, underline);

  &[target="_blank"]::after, &[href^="http"]::after {
    display: inline;
    content: " \279A";
  }
}

a:hover, a:focus {
  color: var(--color-text-link-hover);
  text-decoration: var(--link-decoration-hover, underline);
}
