/*
	Wenzels.Blog -- Styles
*/
/* - Ions */
/* |-- Color Variables */
:root {
  --color-debug: #f0f;
  --color-group: #f4f4f4;
  --color-highlight: #c1e6d1;
  --color-text: #292929;
  --color-text-emphasized: #000000;
  --color-text-dimmed: rgba(0,0,0,0.62);
  --color-headline: #292929;
  --color-accent: #007533;
  --color-accent-hover: #0073cc;
  --color-shadow: rgba(0,0,0,0.16);
  /*
  @media (color-gamut: p3){
  	--color-accent: color(display-p3 0 0.46 0.061);
  	--color-accent-hover: color(display-p3 0 0.66 0.088);
  }
  */
}

/*
@media (prefers-color-scheme: dark){
	:root {
		--color-group: #101916;
		--color-main: #0D0D0D;
		--color-text: #bbb;
		--color-text-emphasized: #D1D1D1;
		--color-text-dimmed: rgba(204, 204, 204, 0.7);
		--color-headline: #999;

		--color-accent: #00D667;
		--color-accent-hover: #00a34e;

		@media (color-gamut: p3){
			--color-accent: color(display-p3 0 0.84 0.406);
			--color-accent-hover: color(display-p3 0 0.64 0.309);
		}
	}
}
*/
/* |-- Length variables */
:root {
  --radius-inline-elements: .25rem;
  --radius-block-elements: 1rem;
}

/*
	Wenzels.Blog -- Typography
*/
body {
  font-family: ui-serif, "New York", "Georgia", "Palatino", "Times New Roman", serif;
  font-weight: 300;
  /* Using CSS properties until lrh support is above 98% */
  --line-height-factor: 1.35;
  line-height: var(--line-height-factor);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 650;
  font-size: 1.5rem;
  margin: 2rlh 0 0 0;
}
@supports (margin: 1rlh 0) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 2rlh;
  }
}
@supports not (margin: 1rlh 0) {
  h1, h2, h3, h4, h5, h6 {
    line-height: calc(2rem * var(--line-height-factor));
  }
}

h1 {
  font-size: 2rem;
}
@supports (margin: 1rlh 0) {
  h1 {
    line-height: 3rlh;
  }
}
@supports not (margin: 1rlh 0) {
  h1 {
    line-height: calc(3rem * var(--line-height-factor));
  }
}

h3, h4, h5, h6 {
  font-size: 1rem;
}

@supports (margin: 1rlh 0) {
  p {
    margin: 0.25rlh 0 1rlh 0;
  }
}
@supports not (margin: 1rlh 0) {
  p {
    margin: calc(0.25rem * var(--line-height-factor)) 0 calc(1rem * var(--line-height-factor)) 0;
  }
}

a {
  text-decoration: none;
  border-radius: var(--radius-inline-elements);
}
a:link, a:active, a:visited, a:hover, a:focus {
  text-decoration: underline;
  color: var(--color-accent);
}
a:hover, a:focus {
  color: var(--color-accent-hover);
}
a:focus {
  background: var(--color-group);
}

::selection {
  background: var(--color-highlight);
}

/*
	Wenzels.Blog -- Layout
*/
main, footer, header .container {
  max-width: 16cm;
  margin: 0 auto;
  padding: 0;
}
@supports (margin-trim: block) {
  main, footer, header .container {
    margin-trim: block;
  }
}
@supports not (margin-trim: block) {
  main > *:first-child, footer > *:first-child, header .container > *:first-child {
    margin-top: 0;
  }
  main > *:last-child, footer > *:last-child, header .container > *:last-child {
    margin-bottom: 0;
  }
}

header {
  padding: 1rem;
  background-color: var(--color-group);
  border-radius: var(--radius-block-elements);
}
@supports (margin: 2rlh 0) {
  header {
    margin: 0 0 2rlh 0;
  }
}
@supports not (margin: 1rlh 0) {
  header {
    margin: 0 0 calc(2rem * var(--line-height-factor)) 0;
  }
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header #pageTitle {
  font-size: 1rem;
  margin: 0 auto 0 0;
  line-height: var(--line-height-factor);
}
header #pageTitle a {
  text-decoration: none;
}
header ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
header ol li {
  margin: 0;
  padding: 0;
}
header ol li a {
  padding: 0.25rem;
  text-decoration: none !important;
}
header ol li a:hover, header ol li a:focus {
  background: var(--color-highlight);
  outline: solid 2px var(--color-highlight);
}
header ol li a:focus-visible {
  outline: solid 2px var(--color-accent);
}

/*
	Wenzels.blog -- Figure
*/
figure {
  margin-block: 2rlh;
  margin-inline: 0;
  background: var(--color-group);
  border-radius: var(--radius-block-elements);
  overflow: hidden;
}
figure img, figure video {
  display: block;
  border-radius: 0;
  box-shadow: 0px 0px 1em var(--color-shadow);
}
figure figcaption {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 450;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  color: var(--color-text-dimmed);
  box-sizing: border-box;
  padding: 0.5rem;
}

/*
	Wenzels.Blog -- Misc Elements
*/
#permalink a {
  text-decoration: none !important;
}

ol.list-of-posts {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.list-of-posts li {
  padding: 0;
}
@supports (margin-trim: block) {
  ol.list-of-posts li {
    margin-trim: block;
  }
}
@supports not (margin-trim: block) {
  ol.list-of-posts li > *:first-child {
    margin-top: 0;
  }
  ol.list-of-posts li > *:last-child {
    margin-bottom: 0;
  }
}
@supports (margin: 2rlh 0) {
  ol.list-of-posts li {
    margin: 2rlh 0;
  }
}
@supports not (margin: 1rlh 0) {
  ol.list-of-posts li {
    margin: calc(2rem * var(--line-height-factor)) 0;
  }
}

@media (max-width: 360px) {
  .viewport-hideOnXS {
    display: block;
    position: absolute;
    left: -10000px;
    opacity: 0;
  }
}
span[role=img] {
  speak: none;
}

img, video {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-block-elements);
}

.postHead {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.postHead time {
  display: block;
  margin-left: auto;
  white-space: nowrap;
  font-weight: 450;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  color: var(--color-text-dimmed);
  box-sizing: border-box;
  padding: 0.25rem;
  background: var(--color-group);
  border-radius: var(--radius-inline-elements);
}

/*# sourceMappingURL=style.css.map */
